@{
    ViewData["Title"] = "Power BI";
}

@{
    Layout = "PBI";
}



<div id="root"></div>


<script defer="defer" src="/js/main.512d23e0.js"></script><link href="/css/main.5e30c36a.css" rel="stylesheet">

